/* @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"); */
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  /* padding-bottom: 400px; */
}
